@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


body {
  background-color: #ECF4F7;
  font-family: "Montserrat", sans-serif;
}
.progressbar {
  background-color: #b0daf7;
  height: 3rem;
}
.strips{
  background-image: repeating-linear-gradient(45deg ,#b0daf7 0px 5px  , #8accf7 5px 10px );
}
.balance{
  background-image: linear-gradient(90deg,rgb(17, 196, 17) 50% , rgb(226, 5, 5) 50% );
  height: 1.5rem;
}